<div id="day" (click)="picker.open()">
    <h4>hoy</h4>
    <h3>Lunes, 31 de octubre, 2022</h3>
    <span class="datePicker">
      <mat-form-field class="example-full-width" appearance="fill">
         <input #date value={[fecha]} matInput [matDatepicker]="picker">
         <mat-datepicker touchUi #picker></mat-datepicker>
       </mat-form-field>
   </span>
</div>



<div id="appointments">
    <div class="appointment">
        <p class="time">08:00</p>

        <div class="vl"></div>
        <div class="appointmentInfo">
           <div class="text">
              <p class="name">Pepe Perez</p>
              <p class="service">Corte básico + barba</p>
           </div>
        </div>
    </div>

    <div class="appointment">
        <p class="time">08:00</p>

        <div class="vl"></div>
        <div class="appointmentInfo">
           <div class="text">
              <p class="name">Pepe Perez</p>
              <p class="service">Corte básico + barba</p>
           </div>
        </div>
    </div>
    <div class="appointment">
        <p class="time">08:00</p>

        <div class="vl"></div>
        <div class="appointmentInfo">
           <div class="text">
              <p class="name">Pepe Perez</p>
              <p class="service">Corte básico + barba</p>
           </div>
        </div>
    </div>
    <div class="appointment">
        <p class="time">08:00</p>

        <div class="vl"></div>
        <div class="appointmentInfo">
           <div class="text">
              <p class="name">Pepe Perez</p>
              <p class="service">Corte básico + barba</p>
           </div>
        </div>
    </div>
    <div class="appointment">
        <p class="time">08:00</p>

        <div class="vl"></div>
        <div class="appointmentInfo">
           <div class="text">
              <p class="name">Pepe Perez</p>
              <p class="service">Corte básico + barba</p>
           </div>
        </div>
    </div>
</div>
